body {
    background-image: url(/Icons/yappa.png);
    overflow-anchor:auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}
p {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.7px;
    font-size: 35px;
}